@model ASP.NETCoreDocsEditor.Models.DocksMockup

@{
    ViewData["Title"] = "Edit";
}
<div class="row">
    <div class="col-md-4">
        <!--form to create edit a document -->
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">

                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea id="tiny" style="width: 60vw; height: 80vh" asp-for="Content"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="hidden" asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <!--save button->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
             <!--delete button->
                <a class="btn btn-danger ml-2" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            </div>

        </form>
    </div>
</div>

<div>
    <!--link to return to the previous page -->
    <a class="btn btn-info mt-3" asp-action="Index">Return</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
